body {
    box-sizing: border-box;
    background-color: rgb(22, 26, 31);
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
button {
    font-family: "Gill Sans";
    border: 0;
    background-color: black;
    color: rgb(152, 156, 170);
}
.welcomebody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#noise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainlogo {
    filter: invert(1);
    width: 200px;
    height: 200px;
}

#logo {
    align-self: center;
    filter: invert(1);
    width: 70px;
    height: 70px;
    cursor: pointer;
}
#NavBar {
    position: fixed;
    width: 100%;
}
#navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav #search {
    position: relative;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search input {
    margin-right: 20px;
    width: 150px;
}
#search #results {
    width: 150px;
    min-height: 50px;
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    top: 65px;
    left: 60px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
li {
    list-style-type: none;
}
#search #results li #each {
    width: auto;
    padding-left: 5px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#search #results li #each p {
    padding-left: 2px;
}

#search img {
    width: 20px;
    height: 20px;
}

#body {
    padding-top: 100px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    padding: 30px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}
.register * {
    margin: 20px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.register button {
    margin: 20px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
nav {
    position: relative;
    background-color: rgb(33, 38, 45);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: -10px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
    height: auto;
}
#commands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#createEventButton {
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
    cursor: pointer;
}
#messagesIcon {
    width: 30px;
    height: 20px;
    object-fit: fill;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
    cursor: pointer;
}

#notificationsIcon {
    width: 30px;
    height: 20px;
    object-fit: scale-down;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
    cursor: pointer;
}
#menuIcon {
    width: 30px;
    height: 20px;
    object-fit: fill;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
    cursor: pointer;
}

#settings {
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50px;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.429);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loading {
    font-size: large;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.352);
    color: whitesmoke;
}
#account {
    padding-top: 20px;
    background-color: rgb(22, 26, 31);
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
}
#profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#avatar {
    border-radius: 50%;
    cursor: pointer;
    margin-right: 50px;
    width: 150px;
    height: 150px;
    object-fit: fill;
    cursor: pointer;
}

#allResults {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#eachResult img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}

#myfriendsPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: nowrap;
}

#MyFriends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: flex;
    flex-direction: column; */
    height: 600px;
    overflow: scroll;
    padding-left: 20px;
    padding-right: 20px;
}
#MyFriends #friend {
    display: grid;
    grid-template-rows: 1fr 0.3fr 0.3fr;

    margin: 10px;
    padding: 20px;
    box-shadow: inset 0 0 10px #000000;
}

#MyFriends #friend img {
    margin: auto auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#MyFriends #friend p {
    margin: auto auto;
    font-size: 12px;
}
#MyFriends #friend button {
    margin: auto auto;
    font-size: 12px;
    width: 70px;
    height: 20px;
}

#dashboard {
    position: relative;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#mine {
    border-right: 1px solid rgb(19, 19, 22);
    width: 250px;
    height: 80%;
    background-color: rgb(22, 26, 31);
    position: fixed;
}
#me {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
#me img {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: fill;
    cursor: pointer;
}
#newsFeed {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
aside {
    justify-self: flex-end;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}
#NoisyPool {
    background-color: rgb(22, 26, 31);
    position: fixed;
    right: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-left: 1px solid rgb(19, 19, 22);
    padding-left: 10px;
}
#groupChat {
    height: 500px;

    overflow: scroll;
}
#groupChatHead {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#chatUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#message {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #181d26;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
#chatImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

#chatInput {
    display: flex;
    flex-direction: row;
}

#chatInput img {
    margin-left: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#RecentUsers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#lastUsers li {
    display: flex;
    flex-direction: column;
}
#lastUserImg {
    margin-left: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: fill;
    cursor: pointer;
}

#editEventPage {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-auto-rows: minmax(500px, auto);
    padding: 50px;
}
#eventEditor {
    display: flex;
    flex-direction: row;
}
#eventEditor * {
    align-items: center;
}
#eventEditor form {
    display: flex;
    flex-direction: column;
}
form .date {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;

    align-items: center;
}
form .field {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}
form input {
    padding: 10px;
    margin: 30px;
}

#eventEditor button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    align-self: start;
}

#eventPreview {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #000000;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff;

    padding: 10px;
}
#eventPreviewImg {
    height: 250px;
    width: 500px;
    border-radius: 10px;
    object-fit: scale-down;
}

#eventName {
    height: 30px;
    font-size: 20px;
    overflow: hidden;
}
#eventInfo {
    display: flex;
    flex-direction: row;
}
#eventInfo * {
    margin-left: 20px;
    margin-right: 20px;
}
